branches:
    - main
    - feature/release
plugins:
    - "@semantic-release/commit-analyzer"
    - "@semantic-release/changelog"
    - "@semantic-release/release-notes-generator"
    - "@semantic-release/github"
    - - "@codedependant/semantic-release-docker"
      - dockerImage: jzmrn/chatdoc
        dockerBuildFlags:
          platform: linux/amd64